<!-- Chaterbates top chat room iframe: (we get $1 per sign up from this) -->
<!-- <iframe src='https:\/\/chaturbate.com\/affiliates\/in\/?tour=NxHf&campaign=9RAIT&track=embed&bgcolor=transparent&disable_sound=1&embed_video_only=0&target=_parent' height=523 width=850 style='border: none;'></iframe> -->

<form id="search-models" action="/cams" method="get">
  <div class="row">
    <div class="input-field">
      <i class="material-icons prefix">search</i>
      <input id="input_text" name="search" type="text" value="<%= params[:search] %>" data-length="50">
      <label for="input_text">Search...</label>
    </div>
  </div>

  <div class="row">
    <div class="col s3 m3 l3" style="padding-left: 45px;">
      <div class="input-field">
        <input id="age_start" name="age_start" type="text" value="<%= params[:age_start] %>" placeholder="18">
        <input id="age_end" name="age_end" type="text" value="<%= params[:age_end] %>" placeholder="99">
        <label for="first_name">Age</label>
      </div>
    </div>
    <div class="col s3 m3 l3">
      <div class="input-field">
        <input id="view_start" name="view_start" type="text" value="<%= params[:view_start] %>" placeholder="0">
        <input id="view_end" name="view_end" type="text" value="<%= params[:view_end] %>" placeholder="50000">
        <label for="first_name">Viewers</label>
      </div>
    </div>

    <div class="col s3 m3 l3">
      <div>
        <input id="search-female" name="gender[female]" type="checkbox" class="filled-in" value="f"
              <%= 'checked' if params.dig(:gender, :female) %>/>
        <label for="search-female">Female</label>
      </div>
      <div>
        <input id="search-male" name="gender[male]" type="checkbox" class="filled-in" value="m"
              <%= 'checked' if params.dig(:gender, :male) %>/>
        <label for="search-male">Male</label>
      </div>
      <div>
        <input id="search-trans" name="gender[trans]" type="checkbox" class="filled-in" value="t"
              <%= 'checked' if params.dig(:gender, :trans) %>/>
        <label for="search-trans">Trans</label>
      </div>
      <div>
        <input id="search-couple" name="gender[couple]" type="checkbox" class="filled-in" value="c"
              <%= 'checked' if params.dig(:gender, :couple) %>/>
        <label for="search-couple">Couple</label>
      </div>
    </div>

    <div class="col s3 m3 l3">
      <input id="search-hd" name="is_hd" type="checkbox" class="filled-in">
      <label for="search-hd">HD only?</label>
    </div>
  </div>

  <!-- <div class="row">
    <div class="input-field">
      <i class="material-icons prefix">location_on</i>
      <select>
        <option value="" disabled selected>Choose country</option>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </select>
      <label>Geographic Location</label>
    </div>
  </div> -->

  <div class="row right-align">
    <button id="search-submit" class="btn waves-effect waves-light">Submit
      <i class="material-icons right">send</i>
    </button>
  </div>
<form>

<% @model_list.in_groups_of(5).each do |group| %>
  <div class="row">
    <% group.each do |model| %>
      <% if model %>
        <div class="cam-model-container col s6 m4 l5ths">
          <div class="cam-model">
            <div class="cam-model__details">
              <span class="cam-model__details--username"><%= model.username %></span>
              <span class="cam-model__details--age"><%= model.age %></span>
            </div>
            <div class="cam-model__image">
                <img class="responsive-img" src="<%= model.image_url %>" />
                <% if model.is_hd %><img class="hd-icon" src="assets/hd.svg" alt="HD stream" /><% end %>
            </div>
            <div class="cam-model__metainfo">
              <% if model.current_show == 'public' %><span class="text-green"><%= model.current_show %></span>
              <% elsif model.current_show == 'private' %><span class="text-red"><%= model.current_show %></span>
              <% elsif model.current_show == 'away' || 'hidden' %><span class="text-grey"><%= model.current_show %></span>
              <% end %>
              <div class="cam-model__metainfo--item">
                <img src="assets/clock.svg" alt="Seconds online:" />
                <span class=""><%= formatted_duration(model.seconds_online) %></span>
              </div>
              <div class="cam-model__metainfo--item">
                <img src="assets/profile.svg" alt="Viewers:" />
                <span class=""><%= number_with_delimiter(model.num_users, :delimiter => ',') %></span>
              </div>
            </div>
            <hr>
            <div class="cam-model__subject">
              <%= model.room_subject %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

<!-- fluidPlayer dependencies -->
<link rel="stylesheet" href="https://cdn.fluidplayer.com/current/fluidplayer.min.css" type="text/css"/>
<script src="https://cdn.fluidplayer.com/current/fluidplayer.min.js"></script>
<!-- Activate fluidplayer -->
<video id='exoclickVideo1' controls style="width: 640px; height: 360px;">
  <source src='exoclick_advideo1.mp4' type='video/mp4' />
</video>

<!-- Exoclick videoOverlay ad-->
<script type="text/javascript" src="https://ads.exosrv.com/invideo.js"></script>
<script type="text/javascript">
  var exoOpts = {
    cat: '2',
    login: 'tightfitcams',
    idzone_300x250: '2822642',
    idsite: '698832',
    preroll: {},
    pause: {},
    postroll: {},
    show_thumb: '1'
  }
  var testVideo = fluidPlayer('exoclickVideo1');
</script>

<!-- Crakrevenue -->
<script>var url=encodeURIComponent("https://t.frtyt.com/jbbwnnfmkg?offer_id=4093&aff_id=58348&bo=2745,2746,2748,2749,2750&file_id=243318");document.write('<iframe style="border: 0; width: 300px; height: 250px; overflow: hidden;" scrolling="no" src="//s2.static.cfgr1.com/anim/index12.html?id=assets/004578A/EOOxZSO&width=300&height=250&fallback=jpg&out=png&over=off&url={url}"></iframe>'.replace('{url}', url));</script><img src="https://t.frtyt.com/4c04f6f2iq?offer_id=4093&aff_id=58348&bo=2745,2746,2748,2749,2750&file_id=243318" width="1" height="1" />
